:root{
    --color-background:#FFFFFF;
    --color-text:#FF6060;
    --color-text-Dark-Background:#FFFFFF;
    --color-thing: #FF6060;
    --color-thing-backgound:#F6F6F6;
    --color-footer-background:#000000;
    --color-footer-text:#FFFFFF;
}
/****** General ***********/
/* @font-face {
    font-family: 'Raleway';
    src: url('../police/static/Raleway-Bold.ttf') format('truetype');
} */

* {
    font-family: Montserrat,'Montserrat';
    font-weight:500;
}

body{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
/*** HEADER ***/
.header-section{
    align-items: center;
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-image{
    width:12%;
    height:auto;
}
.header-nav{
    padding:auto;
}

nav{
    text-align:right;
    margin-top:auto;
    text-decoration: none;
    text-decoration-line:none;
}
a {
    text-decoration: none;
    color:var(--color-text);
    margin-left:20px;
    padding:20px;
}
a:hover{
    text-decoration:underline;
}
/***  HOME  ***/
.home-picture{
    height: 250px;
	width: 100%;
	border-radius: 20px;
	object-fit: cover;
    justify-content: center;
    margin-bottom:20px;
}
.home-card-section{
    width:100%;
    background-color: var(--color-thing-backgound);
    border-radius: 20px;
    margin-bottom:20px;

    display:flex;
    flex-wrap:wrap;
    direction:column;
    justify-content: space-around;
}
/*** CARD ***/
.card-link{
    margin-left:0px;
    margin-top:20px;
    padding:0px;
}
.card-article{
    width:300px;
    height:300px;
    margin-left:5px;
    margin-right:5px;
    position:relative;
    
}
.card-article img{
    width:300px;
    height:300px;
    border-radius: 20px;
    position:absolute;
    object-fit: cover;
    bottom:0px;
    left:0px;
}
.card-img{
    z-index:1;
}
.card-img-cache{
    opacity:1;
    z-index:2;
}
h3.card-content {
    color:var(--color-text-Dark-Background);
    position: absolute;
    width:60%;
    padding:0;
    margin:0;
    bottom: 15px; 
    left: 15px;
    z-index:3;
}
/*** Erreur 404 ***/
.erreur404-message{
    width:100%;
    text-align: center;
    color:var(--color-text);
    margin-top:50px;
    margin-bottom:200px;
}
.erreur404-texte-404{
    font-size:288px;
    font-weight: 700;
    margin-left:auto;
    margin-right:auto;
}
.erreur404-sousTexte-404{
    font-size:36px;
    font-weight: 500;
    margin-top:-30px;
    margin-bottom:100px;
    margin-left:auto;
    margin-right:auto;
}
.erreur404-lien-retour-home{
    font-size:18px;
    font-weight: 500;
    margin-top:100px;
    
}


/*** FOOTER ***/
.footer-section{
    height:100px;
    background-color: var(--color-footer-background);
    color:var(--color-footer-text);
    text-align:center;
    padding-top:40px;
    margin-top:auto;
}
.footer-section img{
    width:60px;
}
/*** COLLAPSE ***/
.collapse{
    margin-bottom:20px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.collapsible {
    text-align: left;
    outline: none;
    font-size: 20px;
    padding:0px;
    margin:0px;
    height:20px;
}
.collapse-fleche{
    background-color: var(--color-thing);
    color:var(--color-thing-backgound);
    margin-left:auto;
    width:15px;
    height:15px; 
    padding:0px;
    margin:0px;
}
.collapse-bouton{
    background-color: var(--color-thing);
    color: var(--color-thing-backgound);
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
    padding: 18px;
    border: none;
    display:flex;
    justify-content: space-between;
}
.active, .collapsible:hover {
    background-color: var(--color-thing);
}
.content {
    padding: 0 18px;
    overflow: hidden;
    background-color: var(--color-thing-backgound);
    color:var(--color-text);
    display: none;
}
.content.block{
    animation: ScaleDown 0.3s linear 0s 1 normal forwards;
    display: block;
    
}
@keyframes ScaleDown {

    0% {
         transform: scaley(0%); 
    }
    100% {
        transform: scaley(100%);
    }
}
.content.none{
    animation: scaleUp 0.3s linear 0s 1 normal forwards;
}
@keyframes scaleUp {
    0% {
        transform: scaley(100%);
        display: block;
    }
    100% {
        transform: scaley(0%);
        display: none;
    }
}

.collapse-animation-fleche-h{
    animation: rotate 0.3s linear 0s 1 normal forwards;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
.collapse-animation-fleche-b{
    animation: derotate 0.3s linear 0s 1 normal forwards;
}
@keyframes derotate {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/*** A PROPOS ***/
.a-propos-marge{
    margin-top:20px;
    margin-bottom:20px;
}
/*** CARROUSSEL ***/
/* Code CSS en prévision de l'ajout d'un carousel pour la bannière */
/* Gestion des fleches du carrousel */
.carroussel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 250px;
	position: relative;
}
.carroussel-img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	object-position: center;
}
.carroussel .arrow {
	position: absolute;
}
.carroussel .arrow_left {
	left: 10px;
}
.carroussel .arrow_right {
	right: 10px;
}
/* Gestion des points du carrousel */
.dots {
	position: absolute;
	bottom: 40px;
	display: flex;
}
.dot {
	margin-inline: 5px;
	width: 13px;
	height: 13px;
	background-color: #ffffff00;
	border: 3px solid #fff;
	border-radius: 100%;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);;
}
.dot_true {
	background-color: #fff;
}
/*** FICHE ***/
.fiche-card-section{
    width:100%;
    background-color: var(--color-thing-backgound);
    border-radius: 20px;
    margin-bottom:20px;

    display:flex;
    flex-wrap:wrap;
    direction:column;
    justify-content: space-around;
}